{% extends 'base.html' %}

{% block body_block %}
<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
            <h3>Delete Todo</h3>
            <p>Are you sure you want to delete "{{ object.task_name }}"?</p>
            <form action="" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Confirm">
                <a href="{% url 'todolist' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}
